# Bỏ qua thư mục .vs
.vs/

# Bỏ qua thư mục obj
**/obj/

# Bỏ qua thư mục bin
**/bin/

# Bỏ qua tệp log
*.log

# Bỏ qua tệp nhị phân (như .dll, .exe, v.v.)
*.dll
*.exe

# Bỏ qua tệp tạm thời của Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Bỏ qua các tệp cache
*.cache
